.btn {
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: normal;

    width: 197px;
    height: 57px;
    border-radius: 55px;
    line-height: 57px;

    transition: all 0.3s linear;
    &-primary {
        color: var(--color-Blue-2);
        background-color: var(--color-white);
    }
    &-secondary {
        background-color: var(--color-Blue-2);
        color: var(--color-white);
    }

    &-primary:hover {
        background-color: var(--color-Blue-2);
        color: var(--color-white);
    }

    &-secondary:hover {
        color: var(--color-Blue-2);
        background-color: var(--color-white);
    }
}
