//============
// Global styles
//============
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%; //1rem = 10px

    // @include respond('tab-land') {
    //     font-size: 56.25%; //1rem = 9px
    // }

    // @include respond("tab-port") {
    //   font-size: 50%; //1rem = 8px
    // }
}
* {
    font-family: var(--font-primary);
}
a {
    font-family: var(--font-primary);
    color: inherit;
}

body {
    font-family: var(--font-primary);
    line-height: var(--default-line-height);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);

    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    max-width: 160rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.comp {
    font-weight: bold;
    color: var(--color-Blue-1);
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.display_none {
    display: none;
}
