//============
// Mixins
//============

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 1000px:    Tablet portrait
1000 - 1024px:   Tablet 
1000 - 1400px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == '800' {
        @media only screen and (max-width: 50em) {
            @content;
        } //800px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 62.5em) {
            @content;
        } //1000px
    }
    @if $breakpoint == tab {
        @media only screen and (max-width: 64em) {
            @content;
        } //1024px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 87.5em) {
            @content;
        } //1400px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 112.5em) {
            @content;
        } //1800
    }
}

// add on element with equal width & height
@mixin square($size) {
    width: $size;
    height: $size;
}

//use for pseudo element
@mixin pseudo {
    content: '';
    position: absolute;
    display: block;
}

//use to troncate elements, meaning it will end the sentence or word with "..." if its too long
@mixin truncate($max-width) {
    max-width: $max-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
