.footer {
    &_con {
        display: flex;
        align-items: center;
        padding: 30px 0;
        justify-content: space-between;
        &_copyright {
            display: flex;
            gap: 50px;
            align-items: center;
            h2 {
                color: var(--color-Blue-1);
                font-size: 40px;
                font-weight: bold;
                line-height: 100%;
            }
        }

        .social_list {
            display: flex;
            gap: 10px;
        }
    }
}
